/* line 24, ../sass/widgets.scss */
.btn1, .btn2, .navbar-toggle {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1.5px solid #935347;
  color: #935347;
  font-family: OpenSans;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  width: 140px;
}
/* line 10, ../sass/widgets.scss */
.btn1 a, .btn2 a, .navbar-toggle a {
  color: #935347;
}
/* line 13, ../sass/widgets.scss */
.btn1:hover, .btn2:hover, .navbar-toggle:hover {
  color: #b16a5c;
  background-color: white;
}
/* line 18, ../sass/widgets.scss */
.btn1:active, .btn2:active, .navbar-toggle:active {
  color: #714036;
  background-color: #e6e6e6;
}

/* line 32, ../sass/widgets.scss */
.btn2 {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1.5px solid white;
  color: white;
  font-family: OpenSans;
  background-color: #935347;
}
/* line 10, ../sass/widgets.scss */
.btn2 a {
  color: white;
}
/* line 13, ../sass/widgets.scss */
.btn2:hover {
  color: white;
  background-color: #b16a5c;
}
/* line 18, ../sass/widgets.scss */
.btn2:active {
  color: #e6e6e6;
  background-color: #714036;
}

/* line 37, ../sass/widgets.scss */
.navbar-toggle {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1.5px solid white;
  color: white;
  font-family: OpenSans;
  background-color: #935347;
  text-decoration: none;
  width: 30px;
}
/* line 10, ../sass/widgets.scss */
.navbar-toggle a {
  color: white;
}
/* line 13, ../sass/widgets.scss */
.navbar-toggle:hover {
  color: white;
  background-color: #b16a5c;
}
/* line 18, ../sass/widgets.scss */
.navbar-toggle:active {
  color: #e6e6e6;
  background-color: #714036;
}

/* line 44, ../sass/widgets.scss */
.nav1 {
  position: fixed;
  right: 0;
  left: 0;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1.5px solid white;
  color: white;
  font-family: OpenSans;
  background-color: #935347;
  border: none;
  background-color: #935347;
  top: 0;
  height: 50px;
  z-index: 1030;
  margin-bottom: 20px;
}
/* line 10, ../sass/widgets.scss */
.nav1 a {
  color: white;
}
/* line 13, ../sass/widgets.scss */
.nav1:hover {
  color: white;
  background-color: #b16a5c;
}
/* line 18, ../sass/widgets.scss */
.nav1:active {
  color: #e6e6e6;
  background-color: #714036;
}
/* line 55, ../sass/widgets.scss */
.nav1:after {
  clear: both;
  content: "";
}
/* line 60, ../sass/widgets.scss */
.nav1 .container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 50px;
  line-height: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 680px) {
  /* line 60, ../sass/widgets.scss */
  .nav1 .container {
    width: 650px;
  }
}
/* line 72, ../sass/widgets.scss */
.nav1 .container .header {
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 680px) {
  /* line 72, ../sass/widgets.scss */
  .nav1 .container .header {
    width: 100%;
  }
}
/* line 79, ../sass/widgets.scss */
.nav1 .container .header .logo {
  float: left;
  padding: 15px 15px;
}
/* line 83, ../sass/widgets.scss */
.nav1 .container .header .navbar-toggle {
  float: right;
  text-decoration: none;
  width: 30px;
  margin-top: 10px;
  padding: 15px 15px;
}
@media screen and (min-width: 680px) {
  /* line 83, ../sass/widgets.scss */
  .nav1 .container .header .navbar-toggle {
    display: none;
  }
}
/* line 94, ../sass/widgets.scss */
.nav1 .container .items {
  float: left;
}
/* line 96, ../sass/widgets.scss */
.nav1 .container .items ul {
  float: left;
  list-style-type: none;
}
/* line 99, ../sass/widgets.scss */
.nav1 .container .items ul li {
  float: left;
  margin-left: 10px;
}
@media screen and (max-width: 680px) {
  /* line 94, ../sass/widgets.scss */
  .nav1 .container .items {
    display: none;
    width: 100%;
    background-color: #935347;
  }
  /* line 108, ../sass/widgets.scss */
  .nav1 .container .items ul {
    float: left;
    padding-left: 5px;
    list-style-type: none;
  }
  /* line 112, ../sass/widgets.scss */
  .nav1 .container .items ul li {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }
}
/* line 120, ../sass/widgets.scss */
.nav1 .container .collapse.in {
  display: block !important;
}
/* line 122, ../sass/widgets.scss */
.nav1 .container .collapse.in ul {
  float: none;
  list-style-type: none;
}
/* line 125, ../sass/widgets.scss */
.nav1 .container .collapse.in ul li {
  float: none;
  margin-left: 10px;
}

/* line 134, ../sass/widgets.scss */
.navdropdown-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

/* line 142, ../sass/widgets.scss */
.navdropdown-menu li:hover {
  visibility: visible;
}

/* line 146, ../sass/widgets.scss */
.navdropdown:hover .navdropdown-menu {
  display: block;
  color: #935347;
}

@media screen and (max-width: 680px) {
  /* line 152, ../sass/widgets.scss */
  .btn1, .btn2, .navbar-toggle {
    width: -webkit-calc(50% - 17px);
    width: -moz-calc(50% - 17px);
    width: calc(50% - 17px);
  }

  /* line 157, ../sass/widgets.scss */
  .nav1 {
    border-radius: 0;
    top: 0;
    border-width: 0 0 1px;
  }
}
/* line 165, ../sass/widgets.scss */
.navbar ul {
  margin: 7.5px -15px;
}

/* line 170, ../sass/widgets.scss */
.btnContainer {
  padding: 5px;
  text-align: center;
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  width: calc(100% - 10px);
}

/* line 178, ../sass/widgets.scss */
body {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 30px;
}
/* line 182, ../sass/widgets.scss */
body a {
  text-decoration: none;
}
